@import url('https://fonts.googleapis.com/css?family=Poppins');

.userList {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
}

.addUser-btn {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
    background-color: rgb(16, 85, 132);
    border: 2px solid rgb(20, 66, 97);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 680;
    transition: 0.3s;
}

.addUser-btn:hover {
    color: rgb(16, 85, 132);
    background-color: rgba(16, 86, 132, 0);
    transition: 0.3s;
}

.userList-container {
    height: 200px;
    width: 100%;
}

.userList-data-container {
    height: 250px;
    width: 48.2%;
    margin-top: 10px;
    margin-left: 1%;
    padding-top: 10px;
    background-color: rgb(210, 236, 249);
    border-radius: 8px;
    float: left;
    box-shadow: 0 0 20px 0.1px black;
}

.userView-btn {
    height: 40px;
    width: 30%;
    margin-top: 10px;
    background-color: rgb(68, 255, 0);
    font-weight: 680;
    border: 1px solid #000;
    border-radius: 8px;
    transition: 0.5s;
}

.userUpdate-btn {
    height: 40px;
    width: 30%;
    margin-top: 10px;
    margin-left: 5%;
    background-color: rgb(255, 187, 0);
    font-weight: 680;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.5s;
}

.userDelete-btn {
    height: 40px;
    width: 30%;
    margin-top: 10px;
    margin-left: 5%;
    background-color: rgb(255, 0, 0);
    font-weight: 680;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.5s;
}

.userView-btn:hover,
.userUpdate-btn:hover,
.userDelete-btn:hover {
    background-color: #ffffff00;
    transition: 0.5s;
}

.trash-icon:hover {
    color: rgb(124, 124, 124);
}

.user-key {
    font-size: 19px;
    font-weight: 600;
}

.user-value-data {
    font-size: 18px;
    font-weight: 500;
}

/* Add User */

.user-input {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Poppins';
}

.submit-btn {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
    background-color: rgb(16, 85, 132);
    border: 2px solid rgb(20, 66, 97);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 680;
    transition: 0.3s;
}

.submit-btn:hover {
    color: rgb(16, 85, 132);
    background-color: rgba(16, 86, 132, 0);
    transition: 0.3s;
}

/* View User */

.userDetails {
    margin-top: 100px;
}

.userDetails-container {
    height: 200px;
    width: 100%;
    padding-top: 30px;
    background-color: rgb(210, 236, 249);
    border-radius: 8px;
}

.user-key-onView {
    color: rgb(16, 85, 132);
    font-size: 20px;
    font-weight: 680;
}

.user-value {
    font-size: 19px;
    font-weight: 680;
}

/* Deleting Confirmation */

.deleteYes-btn {
    background-color: yellow;
}